section.optionTab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin: 5px;
    background-color: var(--color-light-gray);
    padding: 10px;
}

.save-settings {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.language-switcher {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.language-switcher select {
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.optionTab label {
    color: white;
    background: linear-gradient(to bottom, #808080 50%, #4b4b4b 50%);
    padding: 5px 10px;
    font-size: large;
}

.checkbox-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
  background: none;
}

.checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper input[type="checkbox"]:checked+.checkbox-slider {
  background-color: #44cc66;
}

.checkbox-wrapper .checkbox-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.checkbox-wrapper .checkbox-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

/*Style 20*/

.checkbox-wrapper.style-20 {
  width: 100px;
  text-align: center;
  background: none;
}

.checkbox-wrapper.style-20 input[type="checkbox"]:checked+.checkbox-slider .checkbox-knob {
}

.checkbox-wrapper.style-20 input[type="checkbox"]:checked+.checkbox-slider .checkbox-knob:before {
  opacity: 0.4;
}

.checkbox-wrapper.style-20 input[type="checkbox"]:checked+.checkbox-slider .checkbox-knob:after {
  opacity: 1;
}

.checkbox-wrapper.style-20 .checkbox-slider {
  background-color: #eb4f37;
}

.checkbox-wrapper.style-20 .checkbox-knob {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  display: inline-block;
  left: -2px;
}

.checkbox-wrapper.style-20 .label-no {
  position: absolute;
  top: 50%;
  left: -25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.checkbox-wrapper.style-20 .label-yes {
  position: absolute;
  top: 50%;
  right: -28px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  opacity: 0.4;
}

